/*body {
    background-color: rgb(170, 157, 157);
  }
*/
/* Define global CSS variables for correct, wrong, and neutral colors*/
:root {
    --hue-correct: 145;
    --hue-wrong: 0;
    --hue-neutral: 200;
  }

/* Style the container box for the quiz app */
  .container{
    --hue: var(--hue-neutral);
    height: 500px;
    width: 800px;
    max-width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: hsl(var(--hue), 100%, 20%);
    margin:0 auto;/* Center the container box horizontally */
    
  }

  .correct {
    --hue: var(--hue-correct);
  }

  .wrong {
    --hue: var(--hue-wrong);

  }

  .container header {
    height: 60px; 
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #628ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
  }

  .container #title h1 {
    font-size: 50px;
    font-weight: 400;
    
  }

  .container header #time-container{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e8ec;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid #333;
    
  }

  .container header .clock {
    font-size: 20px;
    font-weight: 450;
    user-select: none;
    
  }

  .container header .countdown {
    user-select: none;
    background-color: #08182c;
    border-radius: 10px;
    border: 2px solid #333;
    font-size: 20px;
    font-weight: 450;
    height: 40px;
    width: 50px;
    color: #ccc;
    text-align: center;
    line-height: 40px;

  }


  /*
  #title h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #333;
    text-align: center;
    color: #333;
  }
*/
  #question {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 36px;
    
  }

  #choices {
    
    margin-top: 30px;
   

  }

  .choices:hover {
    color: #a4c236;

  }

 

  .choice {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    font-size: 18px;
    color: #333;
    padding: 5px  10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    outline: none;
  }

  .choice.correct {
    --hue: var(--hue-correct);

  }
  .choice.wrong {
    --hue: var(--hue-wrong);

  }

  #progress {
    color: #333;
    font-size: 18px;    
  }